body {
    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
}

.topo {
    display: flex;
    gap: 80%;
    background-color: #252525;
    color: white;
    align-items: center;
    padding: 2px;
}

.iconUser {
    width: auto;
    height: 50px;
}

.iconLogo {
    width: 100px;
    height: 100px;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 15px;
    font-weight: bold;
}



.sidebar {
    width: 220px;
    background-color: #252525;
    position: fixed;
    top: 118px;
    left: 0;
    bottom: 0;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.sidebar a {
    color: #ddd;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
    transition: background 0.3s;
}

.sidebar a:hover {
    background-color: #272727;
}

main {
    margin-top: 100px;
    margin-left: 240px;
    padding: 20px;
}