.container-superior {
    display: flex;
    gap: 20px;
}

.relatorioProduto {
    display: flex;
    flex-direction: column;
}

.container-superior {

    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10vh;
    width: 100%;

}

.imagem img {
    width: 360px;
    height: 600px;
    object-fit: cover;
    border-radius: 6px;
    border: #ffffff solid 4px;
}

.relatorioProduto {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.form-produto {

    display: flex;
    flex-direction: column;
    align-items: center;

}

.form-produto h1 {

    font-size: 22px;
    font-weight: bold;
    text-align: center;
    color: white;
    margin-bottom: 20px;
    
}

.form-produto input {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border: none;
    background-color: #35343a;
    color: white;
    margin-bottom: 12px;
    font-size: 15px;
}
.form-produto button {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #7747ff; 
    color: white;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.form-produto button:hover {
    background-color: #6231f5;
} 

.caracteproduto {

    display: flex;
    flex-direction: row;
    margin-bottom: 18px;
    padding: 10px 12px;
    background-color: #1f1c20;
    border-radius: 8px;
    font-weight: bold;
    gap: 10px;

    width: 80%;

}

.caracteproduto label {
    width: 50%;
    color: white;
}


.form-produto input.precoProduto {

    background: none;
    border: none;
    outline: none;
    padding: 0 ;
    margin: 0 0 20px 0;
    border-radius: 0;
    color: white;
    font-size: 20px;
    font-weight: bold;
    box-shadow: none;
    text-align: center;

}

.superior {
    margin-bottom: 100px;
}


.container-inferior {
    margin-top: 40px;
}

.container-inferior label{
    margin-top: 40px;
    font-weight: bold;
}

.container-inferior p {

    border: 2px solid white;
    padding: 15px;
    background: transparent;
    color: white;
    margin-top: 10px;
    
}

.bloqueado {
    pointer-events: none;
}

.out, button:disabled {
    filter: saturate(0);
}

.out-container {

    display: flex;
    flex-direction: column;
    position: absolute;

    text-align: center;

    opacity: 0.6;

}

.out-container:hover {

    opacity: 1;

}

.out-container .out-message {

    border-radius: 10px;
    background-color: #35343a;
    padding: 2.5vw;


}

a {
    text-decoration: none;
    color: inherit;
}
