
.container-compra {

    margin-top: 5%;
    display: flex;
    flex-direction: column;
    
    width: 60%;
    gap: 2vh;

}

.container-compra .container-superior {

    display: flex;
    justify-content: space-between;
    
    background-color: rgb(28, 190, 136);

}

.container-compra .container-inferior {

    display: flex;
    flex-direction: column;

    width: 50%;

    background-color: rgb(55, 106, 47);

}
