body {

    font-family: Arial, sans-serif;
    background-color: #1f1f1f;
    margin: 0;
    padding: 0;
    color: white;

}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
    border-radius: 10px;
    padding: 0 40px 40px;
    gap: 10px;

    /* 
    width: calc(100% - 280px);
    min-height: calc(100vh - 140px); 
    */
    
}

main img {

    width: 150px;
    height: auto;

}

main h1 {

    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;

}


.container-header {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252525;
    color: white;
    position: fixed;
    padding: 5px 20px;
    z-index: 1000;
    height: 100px;
    top: 0;
    left: 0;
    right: 0;
    
}

.container-header a{

    text-decoration: none;
    color: white;
    font-weight: bold;

}

.container-header .container-navegacao {

    display: flex;
    padding: 10px 20px;
    margin: 20px;
    gap: 100px;

}

.iconUser {
    width: auto;
    height: 35px;
}

.iconLogo {
    width: 80px;
    height: 80px;
}

.logo a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.menu-gereniciar {
    
    position: fixed;
    top: 100px; 
    left: 0;
    bottom: 0;
    width: 220px;

    display: flex;
    flex-direction: column;
    background-color: #252525;
    box-sizing: border-box;
    margin-top: 10px;
    padding: 20px;
    gap: 15px;
}



.menu-gereniciar a{

    color: #ddd;
    text-decoration: none;
    font-weight: bold;
    padding: 12px;
    border-radius: 10px;
    transition: background 0.3s;

}

.menu-gereniciar a:hover {
    background-color: #333;
}

.container-dashboard {

    display: flex;
    flex-direction: column;
    align-items: center;

    justify-self: center;
    margin-left: 16%;

}

.dashboard-opcoes {

    display: flex;
    flex-direction: column;
    margin-top: 20px;
    gap: 20px;
    width: 500px;
    font-size: 20px;

}

.dashboard-opcoes a {

    text-align: center;
    text-decoration: none;
    color: white;
    align-items: center;
    padding: 10px;
    border-radius: 4px;

}

.dashboard-opcoes p {

    color: white;
    align-items: center;
    font-size: 14px;
    padding-top: 5px;
    
}

.dashboard-opcoes a:hover {
    opacity: 0.9;
}

.dashboard-option-even {
    background-color: #7b42f6;
}

.dashboard-option-odd {
    background-color: #9567f8;
}