@import "mensagem.css";

.all-form {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 20%;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.all-form h2 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    max-width: 400px;
    margin: 0 auto;
}

.grupo-input {

    display: flex;
    flex-direction: column;
    gap: 25px;

}

.grupo-input div {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.grupo-input :focus:not(input[type="checkbox"]){

    outline: 0;
    outline: #7b42f6 1.8px solid ;

}

.grupo-input textarea {
    resize: none;
    font-family: Arial, sans-serif;
    min-height: 80px;
}

.grupo-input :is(input, select, textarea), .select-multiple{

    padding: 10px;
    border-radius: 5px;
    border: #ffffff 2px solid;
    font-size: 16px;

}

.grupo-input :is(input, select, textarea):hover:enabled:not(:focus){

    border-color: #7b42f6;

}

:is(input, select, textarea):disabled {
    background-color: rgba(231, 231, 231, 0.72);
    border-color: rgba(128, 128, 128, 0.288);
    color: black;
}

.grupo-input > div > label {

    padding-bottom: 10px;

}

.grupo-botoes {

    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.botao-executar, .botao-voltar {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: bold;

}

.botao-executar {
    background-color: #7b42f6;
    color: white;
}

.botao-voltar {
    background-color: #444;
    color: white;
}

.form-cadastro label {
    font-weight: bold;
}

.select-multiple {

    background-color: white;
    color: black;

}

.select-multiple > label{

    user-select: none;
    text-align: center;
    font-weight: lighter;

    margin: 10px;
    padding: 8px;
    border-radius: 5px;
    background-color: #878787;
    border: 2px solid transparent;

}

.select-multiple label > input[type="checkbox"] {

    vertical-align: middle;
    display: none;

}

.select-multiple > label:has(input[type="checkbox"]:checked) {

    background-color: green;

}

.select-multiple > label:hover {

    border-color: #7b42f6;

}

@import "/css/mensagem.css";