.all-form {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-left: 20%;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.all-form h2 {
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-bottom: 20px;
}

.form-cadastro {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    max-width: 400px;
    margin: 0 auto;
}

.grupo-input {

    display: flex;
    flex-direction: column;
    gap: 25px;

}

.grupo-input div {

    display: flex;
    flex-direction: column;
    justify-content: center;

}

.grupo-input input{

    padding: 10px;
    border-radius: 5px;
    border: #ffffff 2px solid;
    font-size: 16px;

}

.grupo-input input:hover{

    border-color: #7b42f6;

}

.grupo-input label {

    padding-bottom: 10px;

}

.grupo-botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.botao-executar, .botao-voltar {
    padding: 15px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.botao-executar {
    background-color: #7b42f6;
    color: white;
}

.botao-voltar {
    background-color: #444;
    color: white;
}

.form-cadastro label {
    font-weight: bold;
}