.container-listar {

    background-color: #fff;
    box-sizing: border-box;
    margin-top: 140px;
    margin-left: 260px;
    margin-right: 40px;
    border-radius: 10px;
    padding: 40px;
    font-family: Arial, sans-serif;
    font-weight: bold;

    min-height: calc(100vh - 140px);
    width: calc(100% - 280px);
}

.container-listar h1 {

    color: #000;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 25px;
    text-decoration: underline;
}

.container-listar .container-topo{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 25px 0;
}

.barra-pesquisar input {
    background-color: #e0e0e0;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 12px;
    width: 500px;
}

.botao-adicionar {

    background-color: #6a5acd;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    cursor: pointer;
}

.botao-adicionar:hover {
    background-color: #7b68ee;
}

.container-tabela {
    
    background-color: #cacaca;
    border-radius: 10px;
    color: #000;
    overflow: hidden;
}

.container-tabela table {
    
    width: 90%;
    margin: 5% 0;
    justify-self: center;
    
}

thead tr {
    border-bottom: 3px groove #272727;
}
thead th {
    text-align: center;
}

tbody td  {
    border: 1px groove #272727;
    background-color: #d3d2d2;
}

th, td{
    
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.td-valor {

    justify-self: left;
    padding: 1px;
    border-bottom: 1px solid #000;

}

.td-acoes {
    display: flex;
    flex-direction: row;
    gap: 10%;
    margin: 5px;
    border-radius: 10px;
    padding: 10px;
    background-color: #b1b0b0;
    justify-content: center;
}


.botao-editar {
    background-color: #6a5acd;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.botao-editar:hover {
    background-color: #7b68ee;
}

.botao-excluir {

    background-color: #d62828;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    
}

.botao-excluir:hover {
    background-color: #f44336;
}

.imagemList {
    width: 80px;
    height: auto;
    object-fit: cover;
}


.numero-paginacao {
    margin-left: 45px;
    margin-top: 20px;
    font-size: 17px;
    
}

.container-paginacao {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.paginacao a {
    padding: 6px 12px;
    background-color: #b6b6b6;
    border-radius: 6px;
    color: #000;
    text-decoration: none;
    margin: 0 4px;
    transition: background-color 0.2s;
}

.paginacao a:hover {
    background-color: #6a5acd;
}

