body {
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
    
}

h2 {
    font-size: 30px;
    margin-top: 45px;
    text-align: center;
    font-weight: bold;
}

.foto-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    gap: 4px;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #5b4ebf;
    margin-bottom: 10px;
}

.botao-editar {
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    padding: 5px 12px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: 0.3s;
}

.botao-editar:hover {
    background-color: #ddd;
}

.info-perfil {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.campo {
    display: flex;
    flex-direction: column;
}

.campo label {
    color: white;
    width: 160px;
    font-weight: 500;
}

.campo form {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.campo input {
    flex: 1;
    background: transparent;
    border: none;
    border-bottom: 1px solid #666;
    color: #cfcfcf;
    font-size: 16px;
    padding: 5px;
    outline: none;
    margin-right: 15px;
}

.botao-sair-perfil {
    background-color: #5b4ebf;
    color: #fff;
    border: none;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 50px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.botao-sair-perfil:hover {
    background-color: #4437a2;
}
